@import url("./fonts.css");

.Register {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top:50% ;
    width: 60%;
    height: 40%;
    border-radius: 25px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(218, 218, 218);

}

.input-login {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 150px;
    border-radius: 20px;
    border: none;
    
    transition: transform 0.3s ease;
}

#b1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 200px;
    object-fit: cover; /* Этот стиль сохраняет пропорции изображения и делает его заполняющим */
    border-radius: 15px;
}
@keyframes dwa {
    0%{
        width: 90%;
        height: 200px;
    }
    100% {
        width: 95%;
        height: 98%;
    }
}
@keyframes dwaf {
    0%{        
        width: 90%;
        height: 90%;
       
    }
    100% {
        width: 90%;
        height: 200px;
    }
}
.entry {
    animation: dwa 0.5s ease forwards;
  }
  .entrys {
    animation: dwaf 0.5s ease forwards;
  }


#version {
    position: fixed;
    left: 50%;
    bottom: -15%;
    transform: translate(-50%);
    font-size: 30px;
    background-color: rgb(162, 203, 255);
    border-radius: 20px;
    transition: transform 0.3s ease; 
}

#w1 {
    transition: transform 0.3s ease; 
}
#w2 {
    transition: transform 0.3s ease; 
}
    
#place {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-family: 'Zhizn';
    white-space: nowrap;
    
    transition: transform 0.3s ease;
}
#placedata {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    
    transition: transform 0.3s ease;
    white-space: nowrap;
}

#place-nick {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: black;
    transition: transform 0.3s ease;
    white-space: nowrap;
}
#place-text {
    position: fixed;
    top: 40%;
    left: 5px;
    font-size: 25px;
    
    transition: transform 0.3s ease;
}
.createpost {
    position: absolute;
    width: 95%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    text-align:center;
    font-size: 30px;
    height: 100px; /* Автоматическая высота в зависимости от содержимого */
    
}
.addpost {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 70px;
    height: 70px;
}
.settings {
    position: fixed;
    bottom: 20px;
    left: 50px;
    width: 70px;
    height: 70px;
}

.createpost p {
font-family: "Exo 2";
font-weight: bold;
}
#Create_nick {
    position: fixed;
    bottom: 10%;
    font-size: 35px;
    border: 3px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: gray;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    text-align: center;
    height: 5%;
}
#input_name {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    border-radius: 15px;
    width: 70%;
    height: 5%;
    font-size: 20px;
    text-align: center;
}
#view_name {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
    border-radius: 15px;
    font-size: 40px;
    width: 90%;
    text-align: center;
}

#g_name {
    position: fixed;
    bottom: 0%;
    font-size: 35px;
    border: 3px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    text-align: center;
    height: 5%;
}
.Post {
    position: relative;
    width: 95%;
    margin: 5px;
    left: 49%;
    transform: translate(-50%);
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    height: auto; 
    overflow: hidden; 
}.Post p {
word-wrap: break-word;
font-family: "Zhizn";
color:white;
}

.Post-data {
    position: fixed;
    bottom: -5px;
    right: 5px;
    font-size: 15px;
    
}.Post-text {
font-size: 30px;
}
.Post-nick {
    position: fixed;
    top: -5px;
    right: 5px;
    font-size: 15px;

    }
    


.g1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 230px;
    width: 90%; 
    height: 40%;
    font-size: 20px;
    border-radius: 20px;
    border: 2px;
    border-color: rgb(107, 107, 107);
    padding: 10px;
    border-style: solid;
}


.g2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    width: 50%;
    height: 5%;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    
}

.inputphoto {
    position: fixed;
    left: 2%;
    bottom: 1%;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    border: 2px;
    border-style: solid;
    border-color: black;
    height: 10%;
    overflow: hidden;
}

.g1::placeholder {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    word-wrap: break-word; 
}
#colortex {
    position: fixed;
    left: 50%;
    top: 8%;
    border-radius: 10px;
    border-color: black;
    transform: translate(-50%);
    width: 50%;

}
.upload {

     overflow: hidden;
    position: fixed;
    bottom: 1%;
    width: 20%;
    height: 10%;
    right: 2%;
    border-radius: 25px;
    font-size: 30px;
    font-family: "Exo 2";
    font-weight: bold;
    border: 2px;
    border-style: solid;
    border-color: black;
}
.Post-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Этот стиль сохраняет пропорции изображения и делает его заполняющим */
    position: absolute; /* Позиционируем изображение относительно родительского div */
    top: 0;
    left: 0;
    filter: blur(3px);
    z-index: -1;
    }
button {
    color: black;
}

/* Создаем анимацию entry */
@keyframes entry {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Применяем анимацию к элементу с классом "entry-animate" */
  .entry-animate {
    animation: entry 0.5s ease forwards;
  }
  
  
    .Post-Skeleton {
        position: relative;
        width: 95%;
        margin: 5px;
        left: 49%;
        transform: translateX(-50%);
        border: 2px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
        height: 100px; /* Автоматическая высота в зависимости от содержимого */
        overflow: hidden;
        background-color: #f0f0f0; /* Цвет скелетона */

      }
.plas {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    font-family: "Zhizn";
}
      
      .Skeleton-Image {
        word-wrap: break-word;
        font-family: "Zhizn";
        color: #dcdcdc; /* Цвет текста скелетона */
      }
      
      .Skeleton-Data {
        position: absolute;
        bottom: -5px;
        right: 5px;
        font-size: 15px;
        color: #dcdcdc; /* Цвет данных скелетона */
      }
      

      
      .Skeleton-Image {
        width: 90%;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top:50%;
        border-radius: 15px;
        height: 80px; /* Высота изображения в скелетоне */
        background-color: #dcdcdc; /* Цвет изображения в скелетоне */
      }
      